.idea/workspace.xml
out/artifacts/Webtech1v3_war_exploded/WEB-INF/classes/Model.class
out/artifacts/Webtech1v3_war_exploded/WEB-INF/classes/Model.class
out/artifacts/Webtech1v3_war_exploded/WEB-INF/huurder.html
out/artifacts/Webtech1v3_war_exploded/WEB-INF/web.xml
