<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <param-name>Model</param-name>
        <param-value>Model</param-value>
    </context-param>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckRegister</servlet-name>
        <servlet-class>CheckRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckKamer</servlet-name>
        <servlet-class>CheckKamer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomServlet</servlet-name>
        <servlet-class>SearchRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchRoomServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRegister</servlet-name>
        <url-pattern>/CheckRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckKamer</servlet-name>
        <url-pattern>/CheckKamer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Beheer</servlet-name>
        <servlet-class>ShowPersonsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Beheer</servlet-name>
        <url-pattern>/Beheer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>verhuurder</servlet-name>
        <servlet-class>ShowRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardToAddroom</servlet-name>
        <servlet-class>ForwardToAddRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardToAddroom</servlet-name>
        <url-pattern>/ForwardToAddroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verhuurder</servlet-name>
        <url-pattern>/verhuurder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>ServletListener</listener-class>
    </listener>

</web-app>